# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Django
db.sqlite3
*.sqlite3
.env
.env.*

# Django static/media (if used later)
staticfiles/
media/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
